body{
    background-size: cover;
}
.heading{
   font-size: 25px;
   width: 100%;
   margin: 0px; 
}
#start,#object_status,#status{
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
color: white;
width: 100%;
bottom: 0;
line-height: 3;
text-align: center;
}
canvas{
    border:2px solid white;
    border-radius: 10px ;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
.note{
    color: black;
    font-size: 15px;
}
#object_name{
    width: 30%;
}